{% extends "base.html" %}
{% load static %}
{% block content %}


    <section style="background: rgba(245,126,32,255);height: 450px;">
        <div class="container text-center" style="background: rgba(245,126,32,255);color: rgb(255,255,255);width: 1000px;height: 50px;border-style: none;"></div>

        <div class="container text-center border rounded-pill border-danger" style="background: rgba(214,42,40,255);color: rgb(255,255,255);width: 1000px;height: 365px;border-style: none;">
             <br>
             <h2 class="mb-5">Chose what do you want...</h2> <br><br>
            <a class="btn btn-outline-light btn-lg"  style="background: rgba(245,126,32,255);font-family: Montserrat, sans-serif;border-style: none;" href="{% url 'runtools'  %}">Run the tools</a>
           <a class="btn btn-outline-light btn-lg"  style="background: rgba(245,126,32,255);border-style: none;" href="{% url 'vardataretrieval' %}">&nbsp; &nbsp;Get data to run the tools&nbsp; &nbsp;</a>
        </div>

    </section>


{% endblock %}