{% extends "base.html" %}
{% load static %}
{% block content %}



        <div  style="background: white;color: rgb(255,255,255); padding-top: 10%; padding-bottom:10%; padding-left: 0; padding-right: 0; width: 100%; height: 60%; text-align:center;border-style: none;">



            <a class="btn btn-outline-light btn-lg"  style="background: dimgrey;font-family: Montserrat, sans-serif;border-style: none;" href="{% url 'runtools'  %}">Retrieve variant annotation  for selected tools</a>
           <a class="btn btn-outline-light btn-lg"  style="background: dimgrey;border-style: none;" href="{% url 'vardataretrieval' %}">&nbsp; &nbsp;Get the chromosomal/proteomic data&nbsp; &nbsp;</a>


</div>


{% endblock %}