{% load static %}

<html lang="en">
<head>

     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>snp pipeline</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Dark-NavBar-Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Dark-NavBar-Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Dark-NavBar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
</head>
<body>


            <div style="height: 80px;color: #ffffff;background: rgba(214,42,40,255); text-align: center" >
                <h3 >Variant data for Gene/Accession Id {{ gene }} </h3>

            </div>

<br>
<h3> &nbsp;&nbsp;Total missense SNPs of the given gene are:  {{ totalSNPs }}</h3><br>
<div style="text-align: left">
<ul>
    {% if rsIdsB %}
        <li> Please click <a href="download">here</a> to download rsIds of {{ gene }} </li>
    {% endif %}
    {% if grch37B %}
        <li>Please click <a href="download_grch37data">here</a> to download GRCh37 chromosome coordinates of {{ gene }}</li>
    {% endif %}
    {% if grch38B %}
        <li>Please click <a href="download_grch38data">here</a> to download GRCh38 chromosome coordinates of {{ gene }}</li>
    {% endif %}
    {% if protDataB %}
        <li>Please click <a href="download_Protdata">here</a> to download protein data chromosome coordinates of {{ gene }}</li>
  {% endif %}
</ul>

</div>
</body>
</html>