
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPSNP:Chromosome Coordinates</title>

</head>
<body >
<h3>Variant data for Gene/Accession Id {{ gene }}</h3><br>
<h3>Total Missense SNPs:  {{ totalSNPs }}</h3><br>
<div style="text-align: left">
<ul>
   <li> Please click <a href="download">here</a> to download rsIds of {{ gene }} </li>
    <li>Please click <a href="download_grch37data">here</a> to download GRCh37 chromosome coordinates of {{ gene }}</li>
    <li>Please click <a href="download_grch38data">here</a> to download GRCh38 chromosome coordinates of {{ gene }}</li>
</ul>

</div>
<div style="text-align: left">
<a href="{% url 'index' %}">Return to home</a>
</div>
</body>
</html>