{% extends "base.html" %}
{% load static %}
{% block content %}

<script type="text/javascript">
 function changeCheckBoxState(src){
    var checkboxes = document.getElementsByName('chekboxValues');
    for (var checkbox of checkboxes) {
        checkbox.checked = src.checked;
    }
}
//create uncheckall function
    function uncheckAll() {
     /*
        var inputs = document.getElementsByName('chekboxValues');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].checked = false;
        }*/
        document.getElementById("varAnnotationForm").reset();


    }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("form").submit(function(){
             if ($('input:checkbox').filter(':checked').length < 1){
                    alert("Please Check at least one Check Box");
             return false;
             }
        });
    });
       </script>
    <section style="background: rgba(245,126,32,255);height: 600px;">



        <div class="container" style="background: rgba(245,126,32,255);color: rgb(255,255,255);width: 1500px;height: 50px;border-style: none;"></div>
        <form method="post" action="runtools/annotatevariants" enctype="multipart/form-data"   id="varAnnotationForm" name="varAnnotationForm" target="_blank">
            {% csrf_token %}
        <div class="container text-center border rounded-pill border-danger" style="background: rgba(214,42,40,255);color: rgb(255,255,255);width: 1500px;height: 500px;border-style: none;">
            <h2 class="mb-5">Run the tool(s)</h2>
            <div class="row">
                <div class="col"><label class="form-label">Gen ID:&nbsp;</label><input class="border rounded" type="text" name="genId" style="width: 350px;" required></div>
            </div>
            <div class="row">
                <div class="col-md-auto">&nbsp; &nbsp;&nbsp; &nbsp; <input type="checkbox" name='chekboxValues' id="select-all" style="border-style: none;" onClick="changeCheckBoxState(this)"><label class="form-label">&nbsp;All&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</label></div>

            </div>
            <br>
            <div class="row ">
                <div class="col-md-auto">&nbsp; &nbsp;&nbsp; &nbsp;<input type="checkbox" name="chekboxValues" id="sift" value="sift" ><label class="form-label">&nbsp;SIFT&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="sift4g" value="sift4g"><label class="form-label">&nbsp;SIFT4G&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="provean" value="provean"><label class="form-label">&nbsp;PROVEAN&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="cadd" value="cadd" ><label class="form-label">&nbsp;Cadd&nbsp;</label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="mvp" value="mvp" ><label class="form-label">&nbsp;MVP &nbsp;</label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="polyphen2hvar" value="polyphen2hvar"><label class="form-label">&nbsp;Polyphen2_HVAR&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="polyphen2hdiv" value="polyphen2hdiv"><label class="form-label">&nbsp;Polyphen2_HDIV &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="primateai" value="primateai"><label class="form-label">&nbsp;PrimateAI &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="revel" value="revel" ><label class="form-label">&nbsp;REVEL &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="mpc" value="mpc" ><label class="form-label">&nbsp;MPC &nbsp; </label></div>
            </div>
             <br>
            <div class="row ">
                <div class="col-md-auto">&nbsp; &nbsp;&nbsp; &nbsp;<input type="checkbox" name="chekboxValues" id="mutpred" value="mutpred" ><label class="form-label">&nbsp;MutPred&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="mtaster" value="mtaster "><label class="form-label">&nbsp;MutationTaster &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="massessor" value="massessor"><label class="form-label">&nbsp;MutationAssessor 	&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="mrnn" value="mrnn" ><label class="form-label">&nbsp;MetaRNN&nbsp;</label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="msvm" value="msvm" ><label class="form-label">&nbsp;MetaSVM  &nbsp;</label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="mlr" value="mlr"><label class="form-label">&nbsp;MetaLR &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="mcap" value="mcap"><label class="form-label">&nbsp;M-CAP  &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="lrt" value="lrt"><label class="form-label">&nbsp;LRT  &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="ls2" value="ls2" ><label class="form-label">&nbsp;LIST-S2 &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="fathmm" value="fathmm" ><label class="form-label">&nbsp;FATHMM  &nbsp; </label></div>
            </div>
             <br>
            <div class="row ">
                <div class="col-md-auto">&nbsp; &nbsp;&nbsp; &nbsp;<input type="checkbox" name="chekboxValues" id="fxf" value="fxf" ><label class="form-label">&nbsp;FATHMM-XF &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="fmkl" value="fmkl "><label class="form-label">&nbsp;FATHMM-MKL &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="bdeladdaf" value="bdeladdaf"><label class="form-label">&nbsp;BayesDel(addAF) 	&nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="bdelnoaf" value="bdelnoaf" ><label class="form-label">&nbsp;BayesDel(noAF)&nbsp;</label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="aloft" value="aloft" ><label class="form-label">&nbsp;ALoFT  &nbsp;</label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="vest4" value="vest4"><label class="form-label">&nbsp;VEST4  &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="dann" value="dann"><label class="form-label">&nbsp;DANN   &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="eigen" value="eigen "><label class="form-label">&nbsp;Eigen   &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="eigenpc" value="eigenpc" ><label class="form-label">&nbsp;Eigen-PC &nbsp; </label></div>
                <div class="col-md-auto"><input type="checkbox" name="chekboxValues" id="doegen2" value="doegen2 " ><label class="form-label">&nbsp;DEOGEN2   &nbsp; </label></div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-auto"> &nbsp; &nbsp;&nbsp; &nbsp;<input type="checkbox" name="chekboxValues" id="genocanyon" value="genocanyon " ><label class="form-label">&nbsp;GenoCanyon    &nbsp; </label></div>

            </div>
            <div class="row" style="height: 20px;"></div><button class="btn btn-outline-light btn-lg" type="submit" style="background: rgba(245,126,32,255);font-family: Montserrat, sans-serif;border-style: none;">Continue</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-light btn-lg" type="button" style="background: rgba(245,126,32,255);border-style: none;" onClick="uncheckAll()">&nbsp; &nbsp;Reset&nbsp; &nbsp;</button>
        </div>
        </form>


    </section>


{% endblock %}