{% load static %}
{% load mathfilters %}

<html lang="en">
<head>

     <meta charset="utf-8">
    <meta name="var-annotation-download-table" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Download your desired data</title>
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/var-annotation-download.css' %}"/>
</head>
<body >


            <div style="height: 80px;color: #ffffff;background: rgba(214,42,40,255); text-align: center" >
                <h3 >Annonation of variants by the selected tools for {{ gene }} gene</h3>

            </div>

<br>
<div  style="background: white;width: 100%;height: 50%;border-style: none;text-align: center">
<h3> &nbsp;Number of variant records found for the given data:  {{ totalSNPs }}</h3><br>




            <p>Please click <a href={% url 'downloadconsensusres'   %}>here</a> to download results produced by IPSNP consensus tool </p>



</div>>


</body>
</html>