{% extends "base.html" %}
{% load static %}
{% block content %}

<script type="text/javascript">
 function changeCheckBoxState(src){
    var checkboxes = document.getElementsByName('chekboxValues');
    for (var checkbox of checkboxes) {
        checkbox.checked = src.checked;
    }
}
//create uncheckall function
    function uncheckAll() {
     /*
        var inputs = document.getElementsByName('chekboxValues');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].checked = false;
        }*/
        document.getElementById("varAnnotationForm").reset();


    }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("form").submit(function(){
             if ($('input:checkbox').filter(':checked').length < 1){
                    alert("Please Check at least one Check Box");
             return false;
             }
        });
    });
       </script>
     <form method="post" action="toolsFormForConsensusRes/consensusresults" enctype="multipart/form-data"   id="varAnnotationForm" name="varAnnotationForm" target="_blank">
            {% csrf_token %}

        <div  style="background: white;width: 100%;height: 50%;border-style: none;text-align: center">
             <br>
            <b><p style="color:  rgba(214,42,40,255)"> Get IPSNP Consensus Results</p> </b>

           <br>
            <div class="row">
                <div class="col" ><label class="form-label">Gen ID:&nbsp;</label><input class="border rounded" type="text" name="genId" style="width: 350px;" required></div>
            </div>

            <table style="margin-left: auto; margin-right: auto">
            <tbody>
            <tr>
                 <td> <input type="checkbox" name='chekboxValues' id="select-all" style="border-style: none;" onClick="changeCheckBoxState(this)"><label class="form-label">&nbsp;All&nbsp; </label></td>

            </tr>
            <tr>

                <td><input type="checkbox" name="chekboxValues" id="sft" value="sft" ><label class="form-label">&nbsp;SIFT&nbsp; </label></td>
                <td><input type="checkbox" name="chekboxValues" id="sift4g" value="sift4g"><label class="form-label">&nbsp;SIFT4G&nbsp; </label></td>
                <td><input type="checkbox" name="chekboxValues" id="provean" value="provean"><label class="form-label">&nbsp;PROVEAN&nbsp; </label></td>

                <td ><input type="checkbox" name="chekboxValues" id="mvp" value="mvp" ><label class="form-label">&nbsp;MVP &nbsp;</label></td>
                <td ><input type="checkbox" name="chekboxValues" id="polyphen2hvar" value="polyphen2hvar"><label class="form-label">&nbsp;Polyphen2_HVAR&nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="polyphen2hdiv" value="polyphen2hdiv"><label class="form-label">&nbsp;Polyphen2_HDIV &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="primateai" value="primateai"><label class="form-label">&nbsp;PrimateAI &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="revel" value="revel" ><label class="form-label">&nbsp;REVEL &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="mpc" value="mpc" ><label class="form-label">&nbsp;MPC &nbsp; </label></td>

             </tr>
            <tr>
                <td ><input type="checkbox" name="chekboxValues" id="mutpred" value="mutpred" ><label class="form-label">&nbsp;MutPred&nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="mtaster" value="mtaster"><label class="form-label">&nbsp;MutationTaster &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="massessor" value="massessor"><label class="form-label">&nbsp;MutationAssessor 	&nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="mrnn" value="mrnn" ><label class="form-label">&nbsp;MetaRNN&nbsp;</label></td>
                <td ><input type="checkbox" name="chekboxValues" id="msvm" value="msvm" ><label class="form-label">&nbsp;MetaSVM  &nbsp;</label></td>
                <td ><input type="checkbox" name="chekboxValues" id="mcap" value="mcap"><label class="form-label">&nbsp;M-CAP  &nbsp; </label></td>

                <td class="col-md-auto"><input type="checkbox" name="chekboxValues" id="ls2" value="ls2" ><label class="form-label">&nbsp;LIST-S2 &nbsp; </label></td>
                <td class="col-md-auto"><input type="checkbox" name="chekboxValues" id="fathmm" value="fathmm" ><label class="form-label">&nbsp;FATHMM  &nbsp; </label></td>
                 <td ><input type="checkbox" name="chekboxValues" id="fxf" value="fxf" ><label class="form-label">&nbsp;FATHMM-XF &nbsp; </label></td>
           </tr>

           <tr>

                <td ><input type="checkbox" name="chekboxValues" id="fmkl" value="fmkl "><label class="form-label">&nbsp;FATHMM-MKL &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="bdeladdaf" value="bdeladdaf"><label class="form-label">&nbsp;BayesDel(addAF) 	&nbsp; </label></td>
                <td class="col-md-auto"><input type="checkbox" name="chekboxValues" id="bdelnoaf" value="bdelnoaf" ><label class="form-label">&nbsp;BayesDel(noAF)&nbsp;</label></td>

                <td ><input type="checkbox" name="chekboxValues" id="vest4" value="vest4"><label class="form-label">&nbsp;VEST4  &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="dann" value="dann"><label class="form-label">&nbsp;DANN   &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="eign" value="eign "><label class="form-label">&nbsp;Eigen   &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="eigenpc" value="eigenpc" ><label class="form-label">&nbsp;Eigen-PC &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="deogen2" value="deogen2" ><label class="form-label">&nbsp;DEOGEN2   &nbsp; </label></td>
               <td> <input type="checkbox" name="chekboxValues" id="genocanyon" value="genocanyon " ><label class="form-label">&nbsp;GenoCanyon    &nbsp; </label></td>

            </tr>

            <tr>

                <td ><input type="checkbox" name="chekboxValues" id="cadd" value="cadd "><label class="form-label">&nbsp;CADD &nbsp; </label></td>
                <td ><input type="checkbox" name="chekboxValues" id="snpeff" value="snpeff"><label class="form-label">&nbsp;SnpEff 	&nbsp; </label></td>

            </tr>
            </tbody>
        </table>

            <div class="row" style="height: 20px;"></div><button class="btn btn-outline-light btn-lg" type="submit" style="background: dimgrey;font-family: Montserrat, sans-serif;border-style: none;">Continue</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-light btn-lg" type="button" style="background: dimgrey;border-style: none;" onClick="uncheckAll()">&nbsp; &nbsp;Reset&nbsp; &nbsp;</button>
            <br>
        </div>
        </form>



{% endblock %}