{% load static %}
{% load mathfilters %}

<html lang="en">
<head>

     <meta charset="utf-8">
    <meta name="var-annotation-download-table" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Download your desired data</title>
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/var-annotation-download.css' %}"/>
</head>
<body>


            <div style="height: 80px;color: #ffffff;background: rgba(214,42,40,255); text-align: center" >
                <h3 >Annonation of variants by the selected tools for {{ gene }} gene</h3>

            </div>

<br>
<h3> &nbsp;Number of variant records found for the given data:  {{ totalSNPs }}</h3><br>

<div style="text-align: right">
    click <a href={% url 'downloadvarannotation' tool='table'  %}>here</a> to download this table </td>

</div>
<table style="margin-left: auto; margin-right: auto">

  <thead>
    <tr>
      <th scope="col">File to download </th>
      <th scope="col">Pathogenic variants</th>

      <th scope="col">Non pathogenic variants</th>
    </tr>
  </thead>

<tbody>
        {% if sift %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='sift'  %}>here</a> to download results by SIFT </td>
                <td> {{ pvarsbysift }} </td>
                 <td> {{ totalSNPs|sub:pvarsbysift }} </td>
            </tr>
        {% endif %}
        {% if sift4g %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='sift4g'  %}>here</a> to download results by SIFT4G </td>
                <td> {{ pvarsbysift4g }} </td>
                 <td> {{ totalSNPs|sub:pvarsbysift4g }} </td>
            </tr>
        {% endif %}
        {% if provean %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='provean'  %}>here</a> to download results by PROVEAN </td>
                <td> {{ pvarsbyprovean }} </td>
                 <td> {{ totalSNPs|sub:pvarsbyprovean }} </td>
            </tr>
        {% endif %}
        {% if mvp %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mvp'  %}>here</a> to download results by MVP </td>
                <td> {{ pvarsbymvp }} </td>
                <td> {{ totalSNPs|sub:pvarsbymvp }} </td>
            </tr>
        {% endif %}
        {% if polyphen2HVAR %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='polyphen2hvar'  %}>here</a> to download results by Polyphen2_HVAR </td>
                <td> {{ pvarsbypolyphen2hvar }} </td>
                <td> {{ totalSNPs|sub:pvarsbypolyphen2hvar }} </td>
            </tr>
        {% endif %}
        {% if polyphen2HDIV %}
             <tr>
                 <td> Please click <a href={% url 'downloadvarannotation' tool='polyphen2hdiv'  %}>here</a> to download results by Polyphen2_HDIV </td>
                 <td> {{ pvarsbypolyphen2hdiv }} </td>
                 <td> {{ totalSNPs|sub:pvarsbypolyphen2hdiv }} </td>
            </tr>
        {% endif %}
        {% if primateAI %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='primateai'  %}>here</a> to download results by PrimateAI </td>
                <td> {{ pvarsbyprimateai }} </td>
                <td> {{ totalSNPs|sub:pvarsbyprimateai }} </td>
            </tr>
        {% endif %}
        {% if revel %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='revel'  %}>here</a> to download results by REVEL </td>
                <td> {{ pvarsbyrevel }} </td>
                <td> {{ totalSNPs|sub:pvarsbyrevel }} </td>
            </tr>
        {% endif %}
        {% if mpc %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mpc'  %}>here</a> to download results by MPC </td>
                <td> {{ pvarsbympc }} </td>
                <td> {{ totalSNPs|sub:pvarsbympc }} </td>
            </tr>
        {% endif %}
        {% if mutpred %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mutpred'  %}>here</a> to download results by MutPred </td>
                <td> {{ pvarsbymutpred }} </td>
                <td> {{ totalSNPs|sub:pvarsbymutpred }} </td>
            </tr>
        {% endif %}
        {% if mtaster %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mtaster'  %}>here</a> to download results by MutationTaster </td>
                <td> {{ pvarsbymtaster }} </td>
                <td> {{ totalSNPs|sub:pvarsbymtaster }} </td>
            </tr>
        {% endif %}
        {% if massessor %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='massessor'  %}>here</a> to download results by MutationAssessor </td>
                <td> {{ pvarsbymassessor }} </td>
                <td> {{ totalSNPs|sub:pvarsbymassessor }} </td>
            </tr>
        {% endif %}
        {% if mrnn %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mrnn'  %}>here</a> to download results by MetaRNN </td>
                <td> {{ pvarsbymrnn }} </td>
                <td> {{ totalSNPs|sub:pvarsbymrnn }} </td>
            </tr>
        {% endif %}
        {% if msvm %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='msvm'  %}>here</a> to download results by MetaSVM </td>
                <td> {{ pvarsbymsvm }} </td>
                <td> {{ totalSNPs|sub:pvarsbymsvm }} </td>
            </tr>
        {% endif %}
         {% if mlr %}
             <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mrl'  %}>here</a> to download results by MetaLR </td>
                <td> {{ pvarsbymlr }} </td>
                <td> {{ totalSNPs|sub:pvarsbymlr }} </td>
            </tr>
        {% endif %}

        {% if mcap %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='mcap'  %}>here</a> to download results by M-Cap </td>
                <td> {{ pvarsbymcap }} </td>
                <td> {{ totalSNPs|sub:pvarsbymcap }} </td>
            </tr>
        {% endif %}
        {% if ls2 %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='ls2'  %}>here</a> to download results by LIST-S2 </td>
                <td> {{ pvarsbyls2 }} </td>
                <td> {{ totalSNPs|sub:pvarsbyls2 }} </td>
            </tr>
        {% endif %}
        {% if fathmm %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='fathmm'  %}>here</a> to download results by FATHMM </td>
                <td> {{ pvarsbyfathmm }} </td>
                <td> {{ totalSNPs|sub:pvarsbyfathmm }} </td>
            </tr>
        {% endif %}
        {% if fxf %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='fxf'  %}>here</a> to download results by fathmm-XF </td>
                <td> {{ pvarsbyfxf }} </td>
                <td> {{ totalSNPs|sub:pvarsbyfxf }} </td>
            </tr>
        {% endif %}
        {% if fmkl %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='fkml'  %}>here</a> to download results by fathmm-MKL </td>
                <td> {{ pvarsbyfmkl }} </td>
                <td> {{ totalSNPs|sub:pvarsbyfmkl }} </td>
            </tr>
        {% endif %}
        {% if bdeladdaf %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='bdeladdaf'  %}>here</a> to download results by BayesDel-addAF </td>
                <td> {{ pvarsbybdeladdaf }} </td>
                <td> {{ totalSNPs|sub:pvarsbybdeladdaf }} </td>
            </tr>
        {% endif %}
        {% if bdelnoaf %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='bdelnoaf'  %}>here</a> to download results by BayesDel-noAF </td>
                <td> {{ pvarsbybdelnoaf }} </td>
                <td> {{ totalSNPs|sub:pvarsbybdelnoaf }} </td>
            </tr>
        {% endif %}
        {% if vest4 %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='vest4'  %}>here</a> to download results by VEST4 </td>
                <td> {{ pvarsbyvest4 }} </td>
                <td> {{ totalSNPs|sub:pvarsbyvest4 }} </td>
            </tr>
        {% endif %}
        {% if dann %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='dann'  %}>here</a> to download results by DANN </td>
                <td> {{ pvarsbydann }} </td>
                <td> {{ totalSNPs|sub:pvarsbydann }} </td>
            </tr>
        {% endif %}
        {% if eigen %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='eigen'  %}>here</a> to download results by Eigen </td>
                <td> {{ pvarsbyeigen }} </td>
                <td> {{ totalSNPs|sub:pvarsbyeigen }} </td>
            </tr>
        {% endif %}
        {% if eigenpc %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='eigenpc'  %}>here</a> to download results by Eigen-PC </td>
                <td> {{ pvarsbyeigenpc }} </td>
                <td> {{ totalSNPs|sub:pvarsbyeigenpc }} </td>
            </tr>
        {% endif %}

        {% if deogen2 %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='deogen2'  %}>here</a> to download results by DEOGEN2 </td>
                 <td> {{ pvarsbydoegen2 }} </td>
                <td> {{ totalSNPs|sub:pvarsbydoegen2 }} </td>
            </tr>
        {% endif %}
        {% if genocanyon %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='genocanyon'  %}>here</a> to download results by GenoCanyon </td>
                <td> {{ pvarsbygenocanyon }} </td>
                <td> {{ totalSNPs|sub:pvarsbygenocanyon }} </td>
            </tr>
        {% endif %}
        {% if cadd %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='cadd'  %}>here</a> to download results by cadd </td>
                <td> {{ pvarsbycadd }} </td>
                <td> {{ totalSNPs|sub:pvarsbycadd }} </td>
            </tr>
        {% endif %}
        {% if snpeff %}
            <tr>
                <td> Please click <a href={% url 'downloadvarannotation' tool='snpeff'  %}>here</a> to download results by SnpEff </td>
                <td> {{ pvarsbysnpeff }} </td>
                <td> {{ totalSNPs|sub:pvarsbysnpeff }} </td>
            </tr>
        {% endif %}
 </tbody>
</table>
        {% if pathogenicVarsLen > 0 %}
            <p><br></p>
             <p><b>Common pathogenic variants</b></p>
            <li> Please click <a href={% url 'downloadvarannotation' tool='pathogenicvarsfound'  %}>here</a> to download variants declared pathogenic by all selected tools </li>
        {% else %}
            <p><br></p>
            <p><b>Common pathogenic variants</b></p>
            <p>No common pathogenic variants found by the selected tools</p>
        {% endif %}
        {% if varsNotFoundLen > 0 %}
            <form method="post" action="selectedvarsdataretrieval" enctype="multipart/form-data"   id="varAnnotationForm" name="varAnnotationForm" target="_blank">
                {% csrf_token %}
                 <input type="hidden" name="varNotFoundTxt", id="varNotFoundTxt" value={{varNotFoundFile}}/>
                 <input type="hidden" name="genId", id="genId" value={{gene}}/>
                 <input type="hidden" name="totsnps", id="totsnps" value={{totalSNPs}}/>

                <p><br></p>
                 <p><b>Variants whose data is not found</b></p>
                Please click <a href={% url 'downloadvarannotation' tool='varsnotfound'  %}>here</a> to download variants not found by MyVariant Info.
                <p>Would you like to get chromosome coordinates and proteomic data of these variants? Yes?
                    <button  type="submit" style="background: black;color: white;font-family: Montserrat, sans-serif;border-style: none;">Click here</button></p>
            </form>
        {% endif %}




</body>
</html>