{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
 function changeCheckBoxState(src){
    var checkboxes = document.getElementsByName('chekboxValues');
    for (var checkbox of checkboxes) {
        checkbox.checked = src.checked;
    }
}
function uncheckAll() {

        document.getElementById("varDataRetForm").reset();
    }
         </script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("form").submit(function(){
             if ($('input:checkbox').filter(':checked').length < 1){
                    alert("Please Check at least one Check Box");
             return false;
             }
        });
    });
       </script>



        <form method="post" action="vardataretrieval/vardataretrievalprocessing"  enctype="multipart/form-data"   id="varDataRetForm" name="snpprocessingform" target="_blank">
            {% csrf_token %}
        <div  style="background: white;width: 100%;height: 50%;border-style: none;text-align: center">

            <input type="hidden" name="varNotFoundTxt", id="varNotFoundTxt" value='noFile'/>
            <br>

            <input type="hidden" value='noFile'/>
            <div class="row">
                <div class="col"><label class="form-label">Gen ID:&nbsp;</label><input class="border rounded" type="text" name="genId" style="width: 350px;" required></div>
            </div> <br>
            <table style="margin-left: auto; margin-right: auto">
            <tbody>
            <tr>


                <td><input type="checkbox" name="chekboxValues" id="select-all" style="border-style: none;" onClick="changeCheckBoxState(this)"><label class="form-label">&nbsp;All&nbsp; </label></td>


            <tr>
                <td ><input type="checkbox" style="border-style: none;" id="grch37dataoption" name="chekboxValues" value="grch37"><label class="form-label">GRCh37 data </label></td>
                <td ><input type="checkbox" id="grch38dataoption" name="chekboxValues" value="grch38"><label class="form-label">GRCh38 data</label></td>
                <td ><input type="checkbox" id="protdataoption" name="chekboxValues" value="protdata"><label class="form-label">Protein data</label></td>
                <td ><input type="checkbox" style="border-style: none;" id="rsidsoption" name="chekboxValues" value="rsids"><label class="form-label">Variants (rs) ids</label></td>
            </tr>
 </tbody>
        </table>
            <br>
            <div class="row" style="height: 20px;"></div><button class="btn btn-outline-light btn-lg" type="submit" style="background: dimgrey;font-family: Montserrat, sans-serif;border-style: none;">Continue</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-light btn-lg" type="button" style="background: dimgrey;border-style: none;" onClick="uncheckAll()">&nbsp; &nbsp;Reset&nbsp; &nbsp;</button>
        </div>
        </div>
        </form>


{% endblock %}